$main-bg-color: #7777af22;
$main-text-color: #0e0e0f44;

html {
   font-size: 62.5%; // if user default is 16px then font size is 10px. Still scalable and easy to calculate
}

h1 {
    font-size: 1.6rem; //16px
}