$main-bg-color: #7777af22;
$main-text-color: #0e0e0f44;

html {
   font-size: 62.5%; // if user default is 16px then font size is 10px. Still scalable and easy to calculate
}

body {
    background: #3626c5;
    color:#fff;
}

h1 {
    font-size: 2rem; //16px
}